{% extends './fragments/base.html' %}
{% block content %}
<div class="container">
    <form method="POST" action="{% url 'findcategory' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Title / Snippet</label>
                    <input type="text" name="content" style="min-width: 100%;" value="{{holder}}" class="form-control"
                        required="true" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit"  style="margin-top: 25px;"/>
                </div>
            </div>
        </div>
        {% if category %}
        <div class="row">
            <div class="col-md-12">
                <h4>Category is : {{category}}</h4>
            </div>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}